@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

@font-face {
    font-family: 'Heebo';
    src: url('path/to/Heebo-Regular.woff2') format('woff2'),
         url('path/to/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    background-color: #EEE5DF;
    --blue_primary: #648a8a;
    --secondry_light: #f8d7c5;
    --secondry_dark: #c16d58;
    --text_color: black;
    --primary-font: 'Heebo';
}

.button-35 {
    align-items: center;
    background-color: var(--blue_primary);
    border-radius: 12px;
    box-shadow: 0 0 0 3px transparent, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: var(--primary-font), sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.profile-img {
    max-width: 100%;
    height: auto;
}
