:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 430px;
    height: 932px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
    border-radius: 35px;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 223px;
    height: 61px;
    margin: 31px 0 0 18px;
    z-index: 24;
}
.box {
    flex-shrink: 0;
    position: relative;
    width: 28px;
    height: 28px;
    z-index: 24;
    overflow: hidden;
}
.img {
    position: relative;
    width: 17.015px;
    height: 15.167px;
    margin: 6.417px 0 0 6.902px;
    background: url(./assets/images/67a9fbca-5873-4b3f-b10f-bc8a724c65b1.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 25;
}
.text {
    flex-shrink: 0;
    position: relative;
    height: 61px;
    color: #3c2f2f;
    font-family: DM Sans, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 60.609px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
}
.text-2 {
    display: block;
    position: relative;
    height: 27px;
    margin: 0 0 0 64px;
    color: #6a6a6a;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
}
.text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 364px;
    height: 88px;
    margin: 54px 0 0 32px;
    color: #2c2929;
    font-family: Heebo, var(--default-font-family);
    font-size: 60px;
    font-weight: 700;
    line-height: 88px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
}
.section-2 {
    position: relative;
    width: 305px;
    height: 58px;
    margin: 54px 0 0 64px;
    background: rgba(235, 235, 235, 0);
    border: 2px solid #c16d58;
    z-index: 27;
    border-radius: 20px;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 156px;
    height: 27px;
    top: 16px;
    left: 129px;
    color: #ba5c45;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 23.438px;
    text-align: right;
    white-space: nowrap;
    z-index: 28;
}
.img-2 {
    position: absolute;
    width: 22.447px;
    height: 11.794px;
    top: 21.31px;
    left: 18.277px;
    background: url(./assets/images/115513ab-4d92-40d7-98c2-7b0a5c93fcf4.png)
        no-repeat center;
    background-size: cover;
    z-index: 29;
}
.box-2 {
    position: relative;
    width: 305px;
    height: 58px;
    margin: 32px 0 0 64px;
    background: rgba(235, 235, 235, 0);
    border: 2px solid #c16d58;
    z-index: 31;
    border-radius: 20px;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 156px;
    height: 27px;
    top: 16px;
    left: 129px;
    color: #ba5c45;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 23.438px;
    text-align: right;
    white-space: nowrap;
    z-index: 32;
}
.img-3 {
    position: absolute;
    width: 22.447px;
    height: 11.794px;
    top: 21.31px;
    left: 18.277px;
    background: url(./assets/images/4266728f-02f4-45cb-959b-e553ebe1cf90.png)
        no-repeat center;
    background-size: cover;
    z-index: 33;
}
.wrapper {
    position: relative;
    width: 305px;
    height: 214px;
    margin: 32px 0 0 65px;
    background: rgba(235, 235, 235, 0);
    border: 2px solid #c16d58;
    z-index: 36;
    border-radius: 20px;
}
.text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 267px;
    height: 27px;
    top: 16px;
    left: 18px;
    color: #ba5c45;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.438px;
    text-align: right;
    white-space: nowrap;
    z-index: 36;
}
.pic {
    position: relative;
    width: 26.679px;
    height: 27px;
    margin: 5.5px 0 0 375.821px;
    background: url(./assets/images/20f1964b-1ea1-4d2c-83f7-a98f1758d1d4.png)
        no-repeat center;
    background-size: cover;
    filter: blur(4.5px);
    z-index: 1;
}
.wrapper-2 {
    position: relative;
    width: 338px;
    height: 70px;
    margin: 12.5px 0 0 62px;
    z-index: 13;
}
.section-3 {
    position: absolute;
    width: 90.24%;
    height: 82.86%;
    top: 0;
    left: 0;
    background: #648a8a;
    z-index: 13;
    border-radius: 20px;
}
.box-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #648a8a;
    z-index: 14;
    border-radius: 20px;
}
.text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 14.75%;
    height: 44.83%;
    top: 27.59%;
    left: 40%;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 22px;
    font-weight: 700;
    line-height: 25.781px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
}
.box-4 {
    position: absolute;
    width: 6.56%;
    height: 34.48%;
    top: 32.76%;
    left: 64.92%;
    z-index: 16;
    overflow: hidden;
    border-radius: 20px;
}
.pic-2 {
    position: relative;
    width: 13.333px;
    height: 11.667px;
    margin: 4.167px 0 0 3.333px;
    background: url(./assets/images/4d26735d-83ea-40bc-aa4d-9592a7f92028.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 17;
}
.section-4 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 46px;
    left: 314px;
    overflow: hidden;
}
.box-5 {
    position: relative;
    width: 305px;
    height: 58px;
    margin: 5px 0 0 64px;
    background: #648a8a;
    z-index: 19;
    border-radius: 20px;
}
.section-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #648a8a;
    z-index: 20;
    border-radius: 20px;
}
.text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 56.39%;
    height: 44.83%;
    top: 27.59%;
    left: 19.02%;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 22px;
    font-weight: 700;
    line-height: 25.781px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
}
.section-6 {
    position: relative;
    width: 287px;
    height: 24px;
    margin: -6px 0 0 50px;
    z-index: 9;
}
.section-7 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}
.wrapper-3 {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0px 0 0 0px;
    z-index: 3;
}
.pic-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/000daf1a-5694-4606-a492-9917f56b5b8a.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 4;
}
.section-8 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 82px;
    z-index: 5;
    overflow: hidden;
}
.section-9 {
    position: relative;
    width: 16.001px;
    height: 24.001px;
    margin: 0 0 0 4px;
    z-index: 6;
    overflow: visible auto;
}
.img-4 {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 0 0 0 2.001px;
    background: url(./assets/images/9c4279fc-d8a9-4911-a471-280d21abd72c.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 8;
}
.pic-4 {
    position: relative;
    width: 16.001px;
    height: 10px;
    margin: 2px 0 0 0;
    background: url(./assets/images/ddc5d778-7b61-4737-919e-abe259a87ba5.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 7;
}
.img-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 263px;
    background: url(./assets/images/4f130cfe-e727-47eb-bdd8-169fac362b39.png)
        no-repeat center;
    background-size: cover;
    z-index: 9;
    overflow: hidden;
}
.pic-5 {
    position: relative;
    width: 4px;
    height: 4px;
    margin: 0 0 0 41px;
    background: url(./assets/images/4113f7ef-2e1e-4390-a5c7-2495ec87bf44.png)
        no-repeat center;
    background-size: cover;
    z-index: 10;
    border-radius: 50%;
}
