.div {
    border-radius: 35px;
    background-color: #fff;
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    line-height: 135%;
    margin: 0 auto;
    padding: 22px 0 34px;
  }
  .div-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 12px;
  }
  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 28px;
  }
  .img-2 {
    aspect-ratio: 1.28;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: start;
    margin: 36px 0 0 10px;
  }
  .div-3 {
    color: #3c2f2f;
    text-align: right;
    align-self: end;
    margin-top: 31px;
    font: 600 25px Roboto, sans-serif;
  }
  .div-4 {
    color: #808080;
    align-self: end;
    margin-top: 12px;
    font: 500 15px Roboto, sans-serif;
  }
  .div-5 {
    display: flex;
    margin-top: 31px;
    width: 100%;
    flex-direction: column;
    font-weight: 600;
    text-align: right;
    padding: 0 12px;
  }
  .div-6 {
    color: #6a6a6a;
    align-self: end;
    font: 400 16px/27px Roboto, sans-serif;
  }
  .div-7 {
    color: #3c2f2f;
    align-self: end;
    margin-top: 106px;
    font: 25px Roboto, sans-serif;
  }
  .div-8 {
    align-self: center;
    display: flex;
    margin-top: 23px;
    width: 100%;
    max-width: 345px;
    gap: 17px;
    font-size: 14px;
    color: #ba5c45;
    line-height: 150%;
  }
  .div-9 {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
    flex: 1;
  }
  .div-10 {
    border-radius: 60px;
    border-color: rgba(193, 109, 88, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    display: flex;
    gap: 8px;
    padding: 18px 20px 18px 78px;
  }
  .div-11 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-3 {
    aspect-ratio: 0.95;
    object-fit: auto;
    object-position: center;
    width: 19px;
    fill: #c16d58;
  }
  .div-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .div-13 {
    border-radius: 60px;
    border-color: rgba(193, 109, 88, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 20px 25px;
  }
  .div-14 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    margin: auto 0;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 17px;
    align-self: start;
  }
  .div-15 {
    display: flex;
    margin-top: 77px;
    gap: 20px;
    font-size: 18px;
    color: #fff;
    justify-content: space-between;
  }
  .img-5 {
    aspect-ratio: 1.49;
    object-fit: auto;
    object-position: center;
    width: 104px;
    box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.25);
    max-width: 100%;
  }
  .div-16 {
    font-family: Inter, sans-serif;
    border-radius: 20px;
    box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.25);
    background-color: #648a8a;
    align-items: center;
    justify-content: center;
    padding: 28px 60px;
  }
