<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using Skill Button</title>
    <link rel="stylesheet" href="/global.css">
</head>
<body>

    <!-- Using the component -->
    <skill-button data-text="שפה - "></skill-button>
    <skill-button data-text="שפה - אנגלית"></skill-button>
    <skill-button data-text="שפה - צרפתית"></skill-button> 
    <skill-button data-text="שפה - צרפתית"></skill-button> 


    <button id="whatsappButton" class="whatsapp-button">Chat on WhatsApp</button>

    <!-- Including the JavaScript file that defines the component -->
    <script src="skill_com.js"></script>
</body>
</html>
