:root {
    --background-color: #ffffff;
    --blue_primary: #648a8a;
    --secondry_light: #f8d7c5;
    --secondry_dark: #c16d58;
    --text_color: #3c2f2f;
    --text_color_secondry: #6A6A6A;

    --primary-font: 'Rubik', sans-serif;
    --hebrew-font:
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 2rem;

    --spacing-xxsmall: 0.25rem;
    --spacing-xsmall: 0.5rem;
    --spacing-small: 1rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;

    --border-radius: 0.75rem;
    --box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--text_color);
    background-color: #f4f4f9;
}

/* .card {
    text-align: right;
    width: 430px;
    height: 932px;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    padding-top: var(--spacing-large);
    /* padding: var(--spacing-medium); */
}

.card {
    width: 26.875rem; /* 430px */
    height: 58.25rem; /* 932px */
    max-width: 90%;
    width: 26.875rem; /* 430px / 16px */
    padding: var(--spacing-large);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    position: relative;
    overflow-y: auto;
}

.h1-blue {
    color: var(--blue_primary);
    text-align: center;
    font-size: 3.5rem; /* Increase from current size, adjust as needed */
    font-weight: 700; /* Make it bold if it's not already */
    margin-bottom: 0.5rem; /* Adjust spacing as needed */
    margin: var(--spacing-xsmall) 0;
}

/* .signup-title {
    color: var(--blue_primary);
    font-size: var(--font-size-xxlarge);
    margin: var(--spacing-xlarge) 0 var(--spacing-large) 0; 
} */

/* .login_button {
    align-items: center;
    appearance: none;
    background-color: #fff; 
    border-radius: 100px; 
    border: none; 
    border-bottom: 4px solid var(--secondry_dark);
    box-sizing: border-box;
    color: var(--blue_primary); 
    cursor: pointer;
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 550;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    padding: 10px 24px; 
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.signup_button {
    align-items: center;
    appearance: none;
    background-color: var(--blue_primary); 
    border-radius: 100px;
    border: none; 
    box-sizing: border-box;
    color: #fff; 
    cursor: pointer;
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    font-size: 18px; 
    font-weight: 550; 
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 10px 24px; 
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.signout_button {
    align-items: center;
    appearance: none;
    background-color: #fff; 
    border-radius: 100px; 
    border: none; 
    border-bottom: 4px solid var(--secondry_dark); 
    box-sizing: border-box;
    color: var(--blue_primary); 
    cursor: pointer;
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    font-size: 12px; 
    font-weight: 550;
    height: 32px; 
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    padding: 6px 16px; 
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px; 
    will-change: transform, opacity;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


.input-group {
    margin: var(--input-margin);
    width: 100%;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="file"], textarea {
    width: calc(100% - 20px);
    padding: var(--input-padding);
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid var(--secondry_dark);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: var(--input-font-size);
    text-align: right;
    background-color: #f9f9f9;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="file"]:focus, textarea:focus {
    outline: none;
    border-color: var(--blue_primary);
    box-shadow: 0 0 5px rgba(100, 138, 138, 0.5);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

p {
    font-family: var(--primary-font);
    color: var(--text_color_secondry);
    font-size: 14px;
    margin-top: 20px;
}

/* .icon-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} */

/* .icon-row img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-row img:hover {
    transform: scale(1.1);
} */

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    text-align: center;
    max-width: 430px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
} */

/* .logo-img {
    width: 181px;
    height: 181px;
    margin: 0 auto;
    margin-top: 168px;
    display: block;
} */

/* .subtitle {
    font-size: 18px;
    color: var(--text_color_secondry);
    margin: 4px 0 96px 0;
    text-align: center;
}

.subtitle-primary {
    font-family: var(--primary-font), sans-serif;
    font-size: 18px; 
    color: var(--secondry_dark);
    margin: 4px 0 96px 0; 
    text-align: center; 
} */

.subtitle, .subtitle-primary {
    font-size: var(--font-size-xlarge);
    margin: var(--spacing-xxsmall) 0 var(--spacing-xlarge) 0;
}

.subtitle {
    color: var(--text_color_secondry);
}

.subtitle-primary {
    color: var(--secondry_dark);
    font-size: 2rem; /* Significant increase, adjust as needed */
    font-weight: 600; /* Make it semi-bold for emphasis */
    line-height: 1.2; /* Adjust line height for better readability */
    margin-bottom: 1.5rem; /* Increase space below */
}

.welcome-text {
    font-family: var(--primary-font), sans-serif;
    color: var(--text_color_secondry);
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
    /* margin: 2px 0 64px 0; */
}

/* Buttons */
.button {
    display: block;
    width: 100%;
    padding: var(--spacing-medium);
    border-radius: 2rem; /* 100px / 16px */
    font-family: var(--primary-font);
    font-size: var(--font-size-medium);
    font-weight: 550;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    box-shadow: var(--box-shadow);
}

.login_button {
    align-items: center;
    appearance: none;
    background-color: #fff; 
    border-radius: 100px; 
    border: none; 
    border-bottom: 4px solid var(--secondry_dark);
    box-sizing: border-box;
    color: var(--blue_primary); 
    cursor: pointer;
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    font-weight: 550;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    padding: 10px 24px; 
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup_button {
    align-items: center;
    appearance: none;
    background-color: var(--blue_primary); 
    border-radius: 100px;
    border: none; 
    box-sizing: border-box;
    color: #fff; 
    cursor: pointer;
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    font-size: 26px; 
    font-weight: 550; 
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 10px 24px; 
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signout_button {
    align-items: center;
    appearance: none;
    background-color: #fff; 
    border-radius: 100px; 
    border: none; 
    border-bottom: 4px solid var(--secondry_dark); 
    box-sizing: border-box;
    color: var(--blue_primary); 
    cursor: pointer;
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    font-size: 12px; 
    font-weight: 550;
    height: 32px; 
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    padding: 6px 16px; 
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px; 
    will-change: transform, opacity;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-medium);
    background-color: #fff;
    color: var(--blue_primary);
    border: none;
    border-bottom: 4px solid var(--secondry_dark);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    width: 7.5rem; /* 120px / 16px */
    height: 7.5rem; /* 120px / 16px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-button:hover {
    background-color:  rgba(200, 125, 93, 0.15);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.icon-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-button i {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-xsmall);
    color: var(--blue_primary);
}

.icon-button span {
    font-size: var(--font-size-xlarge);
    color: var(--blue_primary);
}

.login_button:hover,
.signup_button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.login_button:active,
.signup_button:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}




/* Forms */

.input-group {
    margin: var(--spacing-small) 0;
    width: 100%;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="file"],
input[type="email"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-small);
    border: 1px solid var(--secondry_dark);
    border-radius: var(--border-radius);
    font-family: var(--primary-font);
    font-size: var(--font-size-xlarge);
    text-align: right;
    background-color: #f9f9f9;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--blue_primary);
    box-shadow: 0 0 5px rgba(100, 138, 138, 0.5);
}

textarea {
    resize: vertical;
    min-height: 6.25rem; /* 100px / 16px */
}

/* input[type="text"], input[type="number"], input[type="tel"], input[type="file"], input[type="email"], input[type="password"], textarea {
    width: calc(100% - 20px);
    padding: var(--input-padding);
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid var(--secondry_dark);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: var(--input-font-size);
    text-align: right;
    background-color: #f9f9f9;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="file"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
    border-color: var(--blue_primary);
    box-shadow: 0 0 5px rgba(100, 138, 138, 0.5);
}

textarea {
    resize: vertical;
    min-height: 100px;
} */

/* Other elements */
.logo-img {
    width: 40%;
    max-width: 11.3125rem; /* 181px / 16px */
    height: auto;
    margin: 10% auto 0;
    display: block;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    margin-top: var(--spacing-xlarge);
}

/* .forgot-password {
    text-align: center;
    font-family: var(--primary-font);
    color: var(--text_color_secondry);
    font-size: 14px;
    margin-top: 20px;
}

.icon-row {
    display: flex;
    margin-top: 40px; 
    justify-content: center;
    margin-bottom: 40px;
} */

/* .icon-row img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
} */

/* .icon-row img:hover {
    transform: scale(1.1);
} */

/* .info-text {
    font-family: var(--primary-font);
    color: var(--text_color_secondry);
    font-size: 14px;
    margin-top: 20px;
} */

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

/* Media Queries */
@media (max-width: 48rem) { /* 768px / 16px */
    html {
        font-size: 14px;
    }

    .card {
        padding-top: var(--spacing-xlarge);
        /* padding: var(--spacing-medium); */
        height: auto;
        min-height: 90vh;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-medium);
    }
}

.spacer {
    height: 1.5rem; 
}

/* .button-container {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium);
} */

/* .icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: none;
    background-color: var(--blue_primary);
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 120px;
    height: 120px;
}

.icon-button:hover {
    background-color: var(--secondry_dark);
    transform: scale(1.05);
}

.icon-button i {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.icon-button span {
    font-family: var(--primary-font);
    font-size: 1rem;
} */


